/* =Footer
===================================================== */

// Footer
//
// Footer of the site (includes site info and widgets)
//
// Markup: footer.html
//
// Style guide: 6.footer

/*
 * Footer
 *
 * Footer container
 * <footer id="colophon" class="site-footer" role="contentinfo"> ... </footer>
 */

#colophon {

  min-height: 30rem;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-image: $image-clouds;
  background-repeat: repeat-x;
  background-position: center bottom;

}

#footer-widgets	{

	max-width: $container-max-width;
	margin-left: auto;
	margin-right: auto;
	
	.widget {
		
		background: transparent;
		
	}

}

.footer-logo-wrapper {
	
	position: relative;
	text-align: center;
	
	a {
	
		display: inline-block;
		
	}
	
	.footer-logo {
	
		@include breakpoint( to-medium ) {
			
			display: block;
			margin-top: 20px;
			
			img {
				margin-left: auto;
				margin-right: auto;
			}
			
		}
		
	}
	
	.footer-social {
		
		position: absolute;
		animation: floating 3s linear infinite;
		
		&:hover {
			animation-play-state: paused;
		}
		
		@include breakpoint( to-medium ) {
			position: static;
			animation: none;
		}
		
	}
	
	.screen-reader-text {
		
		clip: rect(1px,1px,1px,1px);
		position: absolute;
		height: 1px;
		width: 1px;
		overflow: hidden;
		
	}
	
	#facebook	{
		
		top: 100px;
		left: 20px;
		animation-duration: 2s;
		
	}
	
	#twitter	{
	
		top: 160px;
		right: 60px;
		animation-duration: 4s;
	
	}
	
	#instagram	{
		
		top: -40;
		right: -40px;
		
	}
	
}

@keyframes floating {
	0% 		{transform: translateY(0%);}
	50% 	{transform: translateY(8%);}
	100% 	{transform: translateY(0%);}
}


.site-info-generator {

  @include visually-hidden();

}

.site-info-network {

  // @include hide-text();

  position: absolute;
  bottom: 0;
  right: 30px;
  transform: rotate(-45deg);

  display: block;
  width: rem(60);
  height: rem(60);
  margin: 0 auto;
  margin-bottom: $unit-m;

  color: #fff;
  text-indent: -9999px;

  background-image: url('https://2018.stlouis.wordcamp.org/files/2018/02/wordpress-footer-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-link;
  background-size: 40px;
  border-radius: 50%;

  transition: all .1s ease;

  &:after {

    position: absolute;
    left: 50%;
    top: rem(50);
    z-index: -1;

    margin-left: -(rem(15));
    margin-bottom: -(rem(30));
    width: rem(30);
    height: rem(100);

    background: $color-link;
    transition: all .1s ease;

    content: "";

  }

  &:hover,
  &:focus,
  &:active {

    background-color: $color-link-hover;

    &:after {

      background-color: $color-link-hover;
    }

  }

}