/* =Generic: Page
===================================================== */

body {

  font-size: 1em;
  line-height: ms(2);
  font-family: $font-body;

  color: $color-text;
  background: $background-color-footer;

  @include font-feature-settings("liga");

  @include breakpoint(small) {

		font-size: 1.125em;

  }

  @include breakpoint(medium) {

		font-size: 1.25em;

  }

}

.site {
	background-color: $color-explicit-white;
}

::selection {

  color: #fff;
  background-color: $color-brand-primary;

}